### This script contains the following sections:

#### 1. Importing libraries and Dataset
#### 2. Mixed-type Variable Check and Fixes
#### 3. Missing Value Checks and Fixes

# 1. Imports

In [279]:
import pandas as pd
import numpy as np
import os
# import glob

In [280]:
data_path = r'C:\Users\\Data'
res_path = r'C:\Users\Abu\\data_emergency_ex6.1'

In [281]:
#load combined dataset
df = pd.read_csv(os.path.join(data_path, 'Prepared','df_combined.csv'))
df.head()

,datayear,oshpd_id2,COUNTY_NAME,DBA_ADDRESS1,DBA_CITY,DBA_ZIP_CODE,LICENSE_CATEGORY_DESC,Control_Type_Desc,TRAUMA_CENTER_DESC,ER_SERVICE_LEVEL_DESC,...,SN_IC_Care,Medi_Cal,Medicare,Other_Payer,Private_Coverage,SelfPay,ED_Visit,All_Other,English,Spanish
0,2005,106010735,Alameda,2070 CLINTON,ALAMEDA,94501,General Acute Care,District,NaN,Basic,...,152.0,1285.0,2121.0,2624.0,5718.0,NaN,14473.0,NaN,NaN,NaN
1,2005,106010739,Alameda,2450 ASHBY STREET,BERKELEY,94705,General Acute Care,Non-Profit Corporation (incl. Church-related),NaN,Basic,...,145.0,7226.0,6548.0,1974.0,13737.0,NaN,35018.0,NaN,NaN,NaN
2,2005,106010776,Alameda,747 52ND STREET,OAKLAND,94609,General Acute Care,Non-Profit Corporation (incl. Church-related),Level I,Basic,...,NaN,29553.0,27.0,2303.0,9382.0,NaN,44788.0,NaN,NaN,NaN
3,2005,106010805,Alameda,20103 LAKE CHABOT ROAD,CASTRO VALLEY,94546,General Acute Care,Non-Profit Corporation (incl. Church-related),Level II,Basic,...,1.0,4924.0,4171.0,774.0,10114.0,NaN,24278.0,NaN,NaN,NaN
4,2005,106010844,Alameda,2001 DWIGHT WAY,BERKELEY,94704,General Acute Care,Non-Profit Corporation (incl. Church-related),NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
df.shape

(5310, 53)

# 2. Mixed-type Variable Check and Fixes

In [283]:
df.describe()

,datayear,oshpd_id2,Sex_Male,Sex_Female,Sex_Unk,Age_01_09,Age_10_19,Age_20_29,Age_30_39,Age_40_49,...,SN_IC_Care,Medi_Cal,Medicare,Other_Payer,Private_Coverage,SelfPay,ED_Visit,All_Other,English,Spanish
count,5310.000000,5.310000e+03,5203.000000,5203.000000,2092.000000,5195.000000,5203.000000,5191.000000,5184.000000,5180.000000,...,4857.000000,5187.000000,5184.000000,5183.000000,5182.000000,2229.000000,5203.000000,3840.000000,3865.000000,3860.000000
mean,2012.425989,1.062800e+08,15033.966942,17835.741303,21.167782,4288.668335,3568.540073,5392.314198,4581.824653,4160.589382,...,137.505250,11481.264507,5488.531829,1729.630716,10184.281359,3046.384926,32878.304632,732.612500,30195.455369,4302.668394
std,4.623729,1.375613e+05,10400.525138,12388.010312,555.023704,5364.513159,2820.668253,4046.701247,3395.969947,3040.807469,...,178.811757,12472.644102,4570.427719,3160.007354,9682.204354,2581.241001,22595.068560,1108.916923,20617.293896,5451.053265
min,2005.000000,1.060107e+08,84.000000,80.000000,1.000000,1.000000,12.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,164.000000,1.000000,150.000000,1.000000
25%,2008.000000,1.061903e+08,7481.500000,8517.500000,1.000000,1367.000000,1644.500000,2416.500000,2115.000000,1986.250000,...,21.000000,2916.000000,2294.500000,394.000000,3702.500000,1291.000000,15939.500000,68.000000,14568.000000,737.000000
50%,2012.000000,1.063012e+08,12945.000000,15509.000000,2.000000,2961.000000,2881.000000,4506.000000,3905.500000,3626.500000,...,77.000000,7449.000000,4388.000000,896.000000,7400.000000,2441.000000,28604.000000,291.000000,26606.000000,2372.000000
75%,2016.000000,1.063709e+08,20317.000000,24217.000000,4.000000,5569.500000,4842.000000,7352.000000,6233.000000,5620.000000,...,190.000000,15733.000000,7367.750000,1667.500000,13452.750000,3979.000000,44434.000000,956.250000,41034.000000,5667.500000
max,2020.000000,1.065810e+08,70051.000000,80306.000000,22881.000000,69077.000000,26364.000000,24299.000000,21589.000000,23230.000000,...,2254.000000,96576.000000,41467.000000,46254.000000,67002.000000,22360.000000,143619.000000,10818.000000,128465.000000,55149.000000

In [284]:
# change column types to categorical

df[['datayear', 'oshpd_id2']] = df[['datayear', 'oshpd_id2']].astype('str')
df.info()

# cols = ['datayear', 'oshpd_id2']
# for col in cols:
#     df[col] = df[col].astype('str')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5310 entries, 0 to 5309
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   datayear                5310 non-null   object
 1   oshpd_id2               5310 non-null   object
 2   COUNTY_NAME             5310 non-null   object
 3   DBA_ADDRESS1            5310 non-null   object
 4   DBA_CITY                5310 non-null   object
 5   DBA_ZIP_CODE            5310 non-null   object
 6   LICENSE_CATEGORY_DESC   5307 non-null   object
 7   Control_Type_Desc       5309 non-null   object
 8   TRAUMA_CENTER_DESC      910 non-null    object
 9   ER_SERVICE_LEVEL_DESC   5239 non-null   object
 10  RURAL_HOSPITAL_DESC     1008 non-null   object
 11  TEACHING_HOSPITAL_DESC  3224 non-null   object
 12  LICENSED_BED_SIZE       5309 non-null   object
 13  MSSA_DESIGNATION        2623 non-null   object
 14  Sex_Male                5203 non-null   float64
 15  Sex_Female              5203 non-null   float64
 16  Sex_Unk                 2092 non-null   float64
 17  Age_01_09               5195 non-null   float64
 18  Age_10_19               5203 non-null   float64
 19  Age_20_29               5191 non-null   float64
 20  Age_30_39               5184 non-null   float64
 21  Age_40_49               5180 non-null   float64
 22  Age_50_59               5182 non-null   float64
 23  Age_60_69               5179 non-null   float64
 24  Age_70_79               5172 non-null   float64
 25  Age_80_                 5161 non-null   float64
 26  Age_Under_1             5182 non-null   float64
 27  Age_Unknown             752 non-null    float64
 28  Asian_Pacific_Island    5158 non-null   float64
 29  Black                   5164 non-null   float64
 30  Hispanic                5196 non-null   float64
 31  Native_American_Eski    5033 non-null   float64
 32  Other_Race              5104 non-null   float64
 33  Unknown_Race            4975 non-null   float64
 34  White                   4944 non-null   float64
 35  Acute_Care              5151 non-null   float64
 36  Against_Medical_Advice  5007 non-null   float64
 37  Died                    5097 non-null   float64
 38  Hospice_Care            3415 non-null   float64
 39  Home_Health_Service     3886 non-null   float64
 40  Residential_Care        3192 non-null   float64
 41  Routine                 5202 non-null   float64
 42  Psychiatric_Care        4527 non-null   float64
 43  SN_IC_Care              4857 non-null   float64
 44  Medi_Cal                5187 non-null   float64
 45  Medicare                5184 non-null   float64
 46  Other_Payer             5183 non-null   float64
 47  Private_Coverage        5182 non-null   float64
 48  SelfPay                 2229 non-null   float64
 49  ED_Visit                5203 non-null   float64
 50  All_Other               3840 non-null   float64
 51  English                 3865 non-null   float64
 52  Spanish                 3860 non-null   float64
dtypes: float64(39), object(14)
memory usage: 2.1+ MB

In [285]:
# Check for mixed variable types within columns

mixed_list = []

for col in df.columns:
    mixed_type = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df[mixed_type]) > 0:
        print(col)
        mixed_list.append(col)

LICENSE_CATEGORY_DESC
Control_Type_Desc
TRAUMA_CENTER_DESC
ER_SERVICE_LEVEL_DESC
RURAL_HOSPITAL_DESC
TEACHING_HOSPITAL_DESC
LICENSED_BED_SIZE
MSSA_DESIGNATION

In [286]:
# change column type for all mixed type variables

for col in mixed_list:
    df[col] = df[col].astype('str')

In [287]:
df['LICENSE_CATEGORY_DESC'].value_counts(dropna = False)

General Acute Care Hospital              2608
General Acute Care                       2337
Hospital                                  326
Acute Psychiatric Hospital                 12
Acute Psychiatric                          10
Psychiatric Health Facility                 9
Chemical Dependency Recovery Hospital       4
nan                                         3
Chemical Dep. Recovery Hospital             1
Name: LICENSE_CATEGORY_DESC, dtype: int64

In [288]:
# for val in df['LICENSE_CATEGORY_DESC']:
#     print (type(val)) #floats found

In [289]:
df.loc[df['LICENSE_CATEGORY_DESC'] == "General Acute Care Hospital",
       'LICENSE_CATEGORY_DESC'] = 'General Acute Care'
    
df.loc[df['LICENSE_CATEGORY_DESC'] == "Acute Psychiatric Hospital", 
       'LICENSE_CATEGORY_DESC'] = 'Acute Psychiatric'

df.loc[df['LICENSE_CATEGORY_DESC'] == "Chemical Dep. Recovery Hospital", 
       'LICENSE_CATEGORY_DESC'] = 'Chemical Dependency Recovery'

df.loc[df['LICENSE_CATEGORY_DESC'] == "Chemical Dependency Recovery Hospital", 
       'LICENSE_CATEGORY_DESC'] = 'Chemical Dependency Recovery'

df.loc[df['LICENSE_CATEGORY_DESC'] == "nan", 
       'LICENSE_CATEGORY_DESC'] = np.nan

In [290]:
df['LICENSE_CATEGORY_DESC'].value_counts(dropna = False)

General Acute Care              4945
Hospital                         326
Acute Psychiatric                 22
Psychiatric Health Facility        9
Chemical Dependency Recovery       5
NaN                                3
Name: LICENSE_CATEGORY_DESC, dtype: int64

In [291]:
df['Control_Type_Desc'].value_counts(dropna = False)

Non-Profit Corporation (incl. Church-related)    1390
Non-profit Corporation (incl. Church-related)     959
Investor - Corporation                            672
Nonprofit - Corporation                           599
District                                          477
Investor - Limited Liability Company              272
Non-Profit - Corporation                          196
Public - District                                 166
City and/or County                                143
Investor - Partnership                            116
City or County                                     99
University of California                           73
Public - City or County                            69
Investor - Individual                              47
Public - University of California                  24
0                                                   4
Investor - individual                               3
nan                                                 1
Name: Control_Type_Desc, dtype: int64

In [292]:
# Interesting column, but will drop for now.
df.drop(columns = ['Control_Type_Desc'], inplace = True)
df.shape

(5310, 52)

In [293]:
df['TRAUMA_CENTER_DESC'].value_counts(dropna = False)

nan                          4400
Level II                      395
Level III                     138
Level IV                      125
Level I                        83
Level I & Level II - Ped       48
Level I & Level I - Ped        41
Level II & Level II - Ped      32
Level I - Pediatric            25
Level II - Pediatric           22
 Level II                       1
Name: TRAUMA_CENTER_DESC, dtype: int64

In [294]:
df.drop(columns = ['TRAUMA_CENTER_DESC'], inplace = True)
df.shape

(5310, 51)

In [295]:
df['ER_SERVICE_LEVEL_DESC'].value_counts(dropna = False)

Basic                        2806
Emergency - Basic            1676
Standby                       353
Emergency - Standby           199
Comprehensive                  90
nan                            71
0                              61
Emergency - Comprehensive      54
Name: ER_SERVICE_LEVEL_DESC, dtype: int64

In [296]:
#Standardize value names for ER servie level description

df.loc[df['ER_SERVICE_LEVEL_DESC'] == 'Emergency - Basic', 'ER_SERVICE_LEVEL_DESC'] = "Basic"

df.loc[df['ER_SERVICE_LEVEL_DESC'] == 'Emergency - Standby', 'ER_SERVICE_LEVEL_DESC'] = "Standby"

df.loc[df['ER_SERVICE_LEVEL_DESC'] == 'Emergency - Comprehensive', 'ER_SERVICE_LEVEL_DESC'] = "Comprehensive"

df.loc[df['ER_SERVICE_LEVEL_DESC'] == '0', 'ER_SERVICE_LEVEL_DESC'] = "Unspecified"

df.loc[df['ER_SERVICE_LEVEL_DESC'] == 'nan', 'ER_SERVICE_LEVEL_DESC'] = "Unspecified"

In [297]:
df['ER_SERVICE_LEVEL_DESC'].value_counts(dropna = False)

Basic            4482
Standby           552
Comprehensive     144
Unspecified       132
Name: ER_SERVICE_LEVEL_DESC, dtype: int64

In [298]:
df['RURAL_HOSPITAL_DESC'].value_counts(dropna = False)

nan            4302
N               540
SMALL/RURAL     292
Y               118
Rural            58
Name: RURAL_HOSPITAL_DESC, dtype: int64

In [299]:
df.drop(columns = ['RURAL_HOSPITAL_DESC'], inplace = True)
df.shape

(5310, 50)

In [300]:
df['TEACHING_HOSPITAL_DESC'].value_counts(dropna = False)

NO          2164
nan         2086
N            599
Teaching     211
YES          164
Y             59
No            27
Name: TEACHING_HOSPITAL_DESC, dtype: int64

In [301]:
#replace values for teaching hospital description using 1/0
#Assumption: the na values for recent datasets indicated that the facility is not a teaching hospital
n = ['NO','N','No']
y = ['YES','Y','Teaching']

for val in df['TEACHING_HOSPITAL_DESC']:
    if (val in n):
        df.loc[df['TEACHING_HOSPITAL_DESC'] == val, 'TEACHING_HOSPITAL_DESC'] = "0"
    elif val in y:
        df.loc[df['TEACHING_HOSPITAL_DESC'] == val, 'TEACHING_HOSPITAL_DESC'] = "1"
#     else:
#         df.loc[df['TEACHING_HOSPITAL_DESC'] == val, 'TEACHING_HOSPITAL_DESC'] = np.nan

In [302]:
df['TEACHING_HOSPITAL_DESC'].value_counts(dropna = False)

0      2790
nan    2086
1       434
Name: TEACHING_HOSPITAL_DESC, dtype: int64

In [303]:
dict(df['LICENSED_BED_SIZE'].value_counts(dropna = False))

{'300-499': 605,
 '200-299': 525,
 '100-149': 485,
 '1-49': 317,
 '150-199': 304,
 '50-99': 259,
 '500+': 132,
 'Beds 300-499': 74,
 'Beds 200-299': 68,
 'Beds 100-149': 62,
 'Beds 150-199': 40,
 'Beds 1-49': 37,
 'Beds 50-99': 28,
 '47': 27,
 '49': 25,
 '167': 24,
 '100': 24,
 '106': 22,
 '48': 21,
 '25': 21,
 '109': 21,
 '112': 20,
 '101': 19,
 'Beds 500+': 19,
 '9': 18,
 '102': 18,
 '35': 18,
 '107': 17,
 '0': 16,
 '142': 16,
 '105': 16,
 '59': 16,
 '50': 15,
 '150': 15,
 '218': 15,
 '64': 14,
 '293': 14,
 '304': 14,
 '190': 13,
 '28': 13,
 '78': 13,
 '72': 13,
 '84': 13,
 '104': 13,
 '56': 12,
 '42': 12,
 '61': 12,
 '24': 12,
 '4': 12,
 '32': 12,
 '269': 12,
 '123': 12,
 '196': 12,
 '37': 12,
 '81': 12,
 '95': 12,
 '204': 12,
 '114': 12,
 '38': 12,
 '345': 12,
 '85': 11,
 '116': 11,
 '120': 11,
 '210': 11,
 '350': 11,
 '144': 11,
 '327': 10,
 '97': 10,
 '287': 10,
 '247': 10,
 '283': 10,
 '169': 10,
 '73': 10,
 '80': 9,
 '255': 9,
 '145': 9,
 '17': 9,
 '156': 9,
 '165': 9,
 '10': 9,
 '337': 9,
 '117': 9,
 '279': 9,
 '347': 9,
 '362': 8,
 '158': 8,
 '314': 8,
 '329': 8,
 '135': 8,
 '273': 8,
 '180': 8,
 '213': 8,
 '198': 8,
 '240': 8,
 '223': 8,
 '111': 8,
 '143': 8,
 '333': 8,
 '348': 8,
 '360': 8,
 '265': 8,
 '420': 8,
 '254': 8,
 '336': 8,
 '341': 8,
 '91': 8,
 '262': 7,
 '26': 7,
 '436': 7,
 '71': 7,
 '226': 7,
 '67': 7,
 '380': 7,
 '334': 7,
 '245': 7,
 '295': 7,
 '186': 7,
 '138': 7,
 '242': 7,
 '88': 7,
 '224': 7,
 '286': 7,
 '206': 6,
 '82': 6,
 '246': 6,
 '209': 6,
 '33': 6,
 '235': 6,
 '403': 6,
 '146': 6,
 '149': 6,
 '27': 6,
 '103': 6,
 '5': 6,
 '193': 6,
 '83': 6,
 '118': 6,
 '199': 6,
 '352': 6,
 '15': 6,
 '371': 6,
 '583': 6,
 '200': 6,
 '16': 6,
 '368': 6,
 '18': 6,
 '76': 6,
 '172': 6,
 '133': 6,
 '8': 6,
 '197': 6,
 '124': 6,
 '392': 6,
 '126': 6,
 '51': 6,
 '115': 6,
 '250': 6,
 '427': 6,
 '161': 6,
 '524': 6,
 '22': 6,
 '208': 6,
 '155': 6,
 '233': 6,
 '236': 6,
 '332': 6,
 '357': 6,
 '409': 6,
 '252': 6,
 '93': 6,
 '54': 6,
 '162': 6,
 '373': 5,
 '315': 5,
 '423': 5,
 '60': 5,
 '434': 5,
 '306': 5,
 '488': 5,
 '390': 5,
 '305': 5,
 '167.0': 5,
 '53': 5,
 '141': 5,
 '69': 5,
 '389': 5,
 '160': 5,
 '415': 5,
 '285': 5,
 '49.0': 5,
 '96': 5,
 '99': 5,
 '128': 5,
 '297': 5,
 '582': 5,
 '46': 5,
 '248': 5,
 '467': 5,
 '174': 4,
 '191': 4,
 '709': 4,
 '202': 4,
 '137': 4,
 '370': 4,
 '189': 4,
 '299': 4,
 '361': 4,
 '28.0': 4,
 '282': 4,
 '288': 4,
 '339': 4,
 '176': 4,
 '215': 4,
 '106.0': 4,
 '531': 4,
 '188': 4,
 '44': 4,
 '109.0': 4,
 '212': 4,
 '112.0': 4,
 '298': 4,
 '340': 4,
 '9.0': 4,
 '600': 4,
 '243': 4,
 '260': 4,
 '498': 4,
 '317': 4,
 '47.0': 4,
 '325': 4,
 '130': 4,
 '48.0': 4,
 '374': 3,
 '196.0': 3,
 '266': 3,
 '405': 3,
 '25.0': 3,
 '101.0': 3,
 '52': 3,
 '439': 3,
 '143.0': 3,
 '84.0': 3,
 '140': 3,
 '207': 3,
 '330': 3,
 '290': 3,
 '157': 3,
 '171': 3,
 '132': 3,
 '302': 3,
 '32.0': 3,
 '338': 3,
 '448': 3,
 '55': 3,
 '73.0': 3,
 '238': 3,
 '42.0': 3,
 '100.0': 3,
 '97.0': 3,
 '396': 3,
 '626': 3,
 '398': 3,
 '394': 3,
 '166.0': 3,
 '50.0': 3,
 '313': 3,
 '20': 3,
 '229': 3,
 '460': 3,
 '901': 3,
 '283.0': 3,
 '102.0': 3,
 '359': 3,
 '163': 3,
 '183': 3,
 '164': 3,
 '259': 3,
 '377': 2,
 '577': 2,
 '285.0': 2,
 '286.0': 2,
 '316': 2,
 '293.0': 2,
 '499': 2,
 '34': 2,
 '247.0': 2,
 '249': 2,
 '456': 2,
 '123.0': 2,
 '78.0': 2,
 '232': 2,
 '613': 2,
 '85.0': 2,
 '254.0': 2,
 '195': 2,
 '35.0': 2,
 '289': 2,
 '60.0': 2,
 '275': 2,
 '122': 2,
 '643': 2,
 '461': 2,
 '88.0': 2,
 '117.0': 2,
 '366': 2,
 '99.0': 2,
 '304.0': 2,
 '418': 2,
 '95.0': 2,
 '135.0': 2,
 '15.0': 2,
 '333.0': 2,
 '466': 2,
 '322': 2,
 '54.0': 2,
 '70': 2,
 '37.0': 2,
 '124.0': 2,
 '107.0': 2,
 '204.0': 2,
 '150.0': 2,
 '356': 2,
 '329.0': 2,
 '180.0': 2,
 '166': 2,
 '145.0': 2,
 '436.0': 2,
 '353': 2,
 '566': 2,
 '120.0': 2,
 '420.0': 2,
 '574': 2,
 '46.0': 2,
 '162.0': 2,
 '104.0': 2,
 '354': 2,
 '301': 2,
 '230': 2,
 '81.0': 2,
 '41.0': 2,
 '38.0': 2,
 '320': 2,
 '64.0': 2,
 '4.0': 2,
 '240.0': 2,
 '395': 2,
 '80.0': 2,
 '907': 2,
 '142.0': 2,
 '148': 2,
 '442': 2,
 '380.0': 2,
 '111.0': 2,
 '459': 2,
 '241': 2,
 '236.0': 2,
 '56.0': 2,
 '221': 2,
 '210.0': 2,
 '200.0': 2,
 '41': 2,
 '287.0': 2,
 '348.0': 2,
 '278': 2,
 '337.0': 2,
 '468': 2,
 '155.0': 2,
 '218.0': 2,
 '217': 2,
 '57.0': 2,
 '209.0': 2,
 '669': 2,
 '141.0': 2,
 '21': 2,
 '173': 2,
 '273.0': 2,
 '255.0': 2,
 '438': 2,
 '318': 2,
 '59.0': 2,
 '336.0': 2,
 '226.0': 1,
 '18.0': 1,
 '324.0': 1,
 '129.0': 1,
 '585': 1,
 '214': 1,
 '341.0': 1,
 '76.0': 1,
 '297.0': 1,
 '231': 1,
 '465': 1,
 '170.0': 1,
 '201': 1,
 '1335.0': 1,
 '201.0': 1,
 '408.0': 1,
 '159.0': 1,
 '206.0': 1,
 '280': 1,
 '212.0': 1,
 '183.0': 1,
 '469.0': 1,
 '298.0': 1,
 '207.0': 1,
 '249.0': 1,
 '372': 1,
 '44.0': 1,
 '719': 1,
 '353.0': 1,
 '27.0': 1,
 '153.0': 1,
 '217.0': 1,
 '312': 1,
 '61.0': 1,
 '98': 1,
 '281.0': 1,
 '291.0': 1,
 '292': 1,
 '235.0': 1,
 '165.0': 1,
 '253.0': 1,
 '408': 1,
 '179': 1,
 '121.0': 1,
 '262.0': 1,
 '531.0': 1,
 '362.0': 1,
 '199.0': 1,
 '220': 1,
 '8.0': 1,
 '156.0': 1,
 '10.0': 1,
 '126.0': 1,
 '377.0': 1,
 '178': 1,
 '346.0': 1,
 '361.0': 1,
 '277': 1,
 '310': 1,
 '190.0': 1,
 '69.0': 1,
 '357.0': 1,
 '176.0': 1,
 '197.0': 1,
 '369.0': 1,
 '403.0': 1,
 '547': 1,
 '36.0': 1,
 '213.0': 1,
 '246.0': 1,
 '91.0': 1,
 '461.0': 1,
 '267': 1,
 '295.0': 1,
 '228.0': 1,
 '398.0': 1,
 '224.0': 1,
 '375.0': 1,
 '266.0': 1,
 '896': 1,
 '202.0': 1,
 '71.0': 1,
 '26.0': 1,
 '188.0': 1,
 '405.0': 1,
 '175': 1,
 '158.0': 1,
 '339.0': 1,
 '425.0': 1,
 '260.0': 1,
 '547.0': 1,
 '898': 1,
 '440': 1,
 '1335': 1,
 '114.0': 1,
 '468.0': 1,
 '233.0': 1,
 '368.0': 1,
 '314.0': 1,
 '346': 1,
 '146.0': 1,
 '583.0': 1,
 '194': 1,
 '467.0': 1,
 '645': 1,
 '193.0': 1,
 '372.0': 1,
 '310.0': 1,
 '92.0': 1,
 '192': 1,
 'nan': 1,
 '669.0': 1,
 '352.0': 1,
 '144.0': 1,
 '367': 1,
 '269.0': 1,
 '524.0': 1,
 '228': 1,
 '51.0': 1,
 '83.0': 1,
 '72.0': 1,
 '22.0': 1,
 '484': 1,
 '110': 1,
 '5.0': 1,
 '401': 1,
 '514.0': 1,
 '153': 1,
 '230.0': 1,
 '607': 1,
 '511.0': 1,
 '312.0': 1,
 '355.0': 1,
 '11': 1,
 '345.0': 1,
 '365': 1,
 '322.0': 1,
 '243.0': 1,
 '274': 1,
 '133.0': 1,
 '511': 1,
 '208.0': 1,
 '439.0': 1,
 '426.0': 1,
 '354.0': 1,
 '475': 1,
 '43': 1,
 '215.0': 1,
 '392.0': 1,
 '16.0': 1,
 '172.0': 1,
 '603': 1,
 '53.0': 1,
 '105.0': 1,
 '381': 1,
 '103.0': 1,
 '149.0': 1,
 '248.0': 1,
 '594': 1,
 '809.0': 1,
 '250.0': 1,
 '138.0': 1,
 '406': 1,
 '542': 1,
 '253': 1,
 '282.0': 1,
 '219.0': 1,
 '96.0': 1,
 '375': 1,
 '34.0': 1,
 '20.0': 1,
 '148.0': 1,
 '264': 1,
 '334.0': 1,
 '434.0': 1,
 '198.0': 1,
 '31': 1,
 '397': 1,
 '682': 1,
 '178.0': 1,
 '320.0': 1,
 '671.0': 1,
 '24.0': 1,
 '327.0': 1,
 '324': 1,
 '170': 1,
 '67.0': 1,
 '55.0': 1,
 '222': 1,
 '675': 1,
 '225': 1,
 '137.0': 1,
 '17.0': 1,
 '128.0': 1,
 '278.0': 1,
 '307.0': 1,
 '438.0': 1,
 '252.0': 1,
 '0.0': 1,
 '318.0': 1,
 '313.0': 1,
 '267.0': 1,
 '355': 1,
 '118.0': 1,
 '174.0': 1,
 '33.0': 1,
 '426': 1}

In [304]:
#Since there are mixed type variables, the column cannot be converted to a string. The code below seperated the string that
# that can be converted to floats, then the floats are converted to a categorical string.

prev_beds = ['Beds 1-49','Beds 50-99','Beds 100-149','Beds 150-199','Beds 200-299',
             'Beds 300-499','Beds 500+']
bed_cat = ['1-49','50-99','100-149','150-199','200-299','300-499','500+']

s = 'Beds'
t = '-'
u = '+'

for val in df['LICENSED_BED_SIZE']:
        if s in str(val):
            if val == prev_beds[0] :
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[0]
                print(val)
            elif val == prev_beds[1]:
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[1]
                print(val)
            elif val == prev_beds[2]:
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[2]
                print(val)
            elif val == prev_beds[3]:
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[3]
                print(val)
            elif val == prev_beds[4]:
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[4]
                print(val)
            elif val == prev_beds[5]:
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[5]
                print(val)
            elif val == prev_beds[6]:
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[6]
                print(val)
        elif t in str(val):
            pass
        elif u in str(val):
            pass
        else:
            if (float(val) in range(1,50)):
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[0]
                print(val)
            elif float(val) in range(50,100):
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[1]
                print(val)
            elif float(val) in range(100,150):
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[2]
                print(val)
            elif float(val) in range(150,200):
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[3]
                print(val)
            elif float(val) in range(200,300):
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[4]
                print(val)
            elif float(val) in range(300,500):
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[5]
                print(val)
            elif float(val) > 500:
                df.loc[df['LICENSED_BED_SIZE'] == val,'LICENSED_BED_SIZE'] = bed_cat[6]
                print(val)

100.0
353.0
170.0
155.0
42.0
236.0
346.0
210.0
337.0
141.0
41.0
124.0
106.0
28.0
101.0
133.0
208.0
48.0
247.0
123.0
324.0
233.0
55.0
254.0
50.0
59.0
73.0
91.0
109.0
24.0
426.0
15.0
57.0
44.0
249.0
436.0
145.0
49.0
78.0
9.0
46.0
146.0
165.0
107.0
32.0
4.0
111.0
283.0
197.0
27.0
144.0
80.0
178.0
47.0
64.0
69.0
38.0
118.0
278.0
8.0
112.0
209.0
329.0
285.0
318.0
137.0
286.0
81.0
190.0
172.0
199.0
102.0
348.0
104.0
345.0
206.0
380.0
468.0
167.0
336.0
439.0
352.0
235.0
262.0
282.0
117.0
36.0
273.0
201.0
105.0
103.0
255.0
85.0
420.0
434.0
204.0
809.0
361.0
84.0
143.0
408.0
438.0
469.0
158.0
291.0
95.0
314.0
334.0
377.0
320.0
669.0
92.0
212.0
156.0
514.0
1335.0
461.0
297.0
218.0
269.0
281.0
120.0
18.0
174.0
16.0
159.0
266.0
150.0
121.0
35.0
202.0
224.0
217.0
200.0
293.0
97.0
511.0
88.0
142.0
327.0
369.0
114.0
252.0
375.0
322.0
135.0
176.0
180.0
166.0
26.0
10.0
148.0
333.0
253.0
304.0
51.0
193.0
372.0
54.0
215.0
71.0
96.0
362.0
260.0
162.0
531.0
219.0
56.0
126.0
671.0
17.0
196.0
425.0
99.0
25.0
83.0
226.0
183.0
248.0
341.0
405.0
392.0
467.0
298.0
198.0
368.0
354.0
230.0
138.0
295.0
403.0
287.0
547.0
188.0
267.0
61.0
53.0
213.0
250.0
5.0
207.0
355.0
67.0
60.0
307.0
20.0
310.0
339.0
312.0
524.0
583.0
228.0
72.0
240.0
22.0
246.0
33.0
129.0
34.0
37.0
398.0
153.0
313.0
76.0
357.0
128.0
243.0
149.0
100
347
170
155
42
236
346
210
337
141
41
93
106
24
101
133
208
48
247
123
145
324
233
254
50
59
73
91
109
426
15
44
249
436
169
49
78
9
35
146
165
107
25
4
111
283
197
27
144
43
80
178
28
47
32
64
69
38
118
381
8
112
223
329
285
317
142
137
286
81
190
172
199
102
105
348
104
345
206
380
468
167
336
439
352
235
262
282
117
273
201
245
103
255
85
420
434
204
901
371
84
405
409
302
158
279
95
314
334
377
320
669
116
115
212
356
156
531
1335
461
297
218
269
120
18
174
16
179
150
202
224
200
293
97
511
88
124
304
365
114
252
143
375
322
135
176
180
166
26
10
148
333
253
51
193
372
61
215
71
96
362
260
162
577
240
161
56
126
440
682
17
196
427
186
99
20
83
226
183
248
46
341
392
467
298
198
368
354
230
138
110
295
403
287
547
54
188
267
82
53
213
250
5
207
355
67
60
350
310
332
524
583
228
72
22
246
33
140
34
209
37
398
153
313
132
76
357
128
21
194
265
149
327
130
459
299
390
389
408
305
415
340
898
395
220
498
301
360
488
160
289
373
306
709
280
566
274
221
423
242
189
31
397
55
582
361
315
339
456
600
191
232
312
613
171
259
370
292
157
359
52
330
626
406
217
396
163
907
325
401
338
238
288
438
643
460
366
243
192
164
229
214
374
264
277
394
448
290
418
594
316
466
499
70
574
645
442
275
318
122
266
475
278
175
195
98
603
585
896
225
241
484
367
353
542
222
607
719
675
465
11
231
173
Beds 200-299
Beds 300-499
Beds 150-199
Beds 50-99
Beds 100-149
Beds 1-49
Beds 500+

In [305]:
df.loc[df['LICENSED_BED_SIZE'].isna(),'LICENSED_BED_SIZE'] = np.nan

In [306]:
df['LICENSED_BED_SIZE'].value_counts(dropna = False)

300-499    1131
200-299    1031
100-149     977
1-49        722
50-99       609
150-199     598
500+        224
0            16
0.0           1
nan           1
Name: LICENSED_BED_SIZE, dtype: int64

In [307]:
df['MSSA_DESIGNATION'].value_counts(dropna = False)

nan         2687
Urban       2047
Rural        472
Frontier     104
Name: MSSA_DESIGNATION, dtype: int64

In [308]:
df.loc[df['MSSA_DESIGNATION'].isnull(),'MSSA_DESIGNATION'] = np.nan

In [309]:
df['MSSA_DESIGNATION'].value_counts(dropna = False)

nan         2687
Urban       2047
Rural        472
Frontier     104
Name: MSSA_DESIGNATION, dtype: int64

In [310]:
# Strip +4 zipcode since the 9 digit zip codes are not required for this analysis.e.g. 12345-6789 -> 12345

count = 0
for val in df['DBA_ZIP_CODE']:
    if len(val) > 5:
        df.loc[df['DBA_ZIP_CODE'] == val,'DBA_ZIP_CODE'] = val[:-5]
        count += 1

print(count, 'zip-codes changed')

42 zip-codes changed

In [311]:
#change the size of column names for consistency
for col in df.columns:
    df.rename(columns = {col:col.lower()}, inplace = True)

In [312]:
df.head()

,datayear,oshpd_id2,county_name,dba_address1,dba_city,dba_zip_code,license_category_desc,er_service_level_desc,teaching_hospital_desc,licensed_bed_size,...,sn_ic_care,medi_cal,medicare,other_payer,private_coverage,selfpay,ed_visit,all_other,english,spanish
0,2005,106010735,Alameda,2070 CLINTON,ALAMEDA,94501,General Acute Care,Basic,0,100-149,...,152.0,1285.0,2121.0,2624.0,5718.0,NaN,14473.0,NaN,NaN,NaN
1,2005,106010739,Alameda,2450 ASHBY STREET,BERKELEY,94705,General Acute Care,Basic,0,300-499,...,145.0,7226.0,6548.0,1974.0,13737.0,NaN,35018.0,NaN,NaN,NaN
2,2005,106010776,Alameda,747 52ND STREET,OAKLAND,94609,General Acute Care,Basic,0,150-199,...,NaN,29553.0,27.0,2303.0,9382.0,NaN,44788.0,NaN,NaN,NaN
3,2005,106010805,Alameda,20103 LAKE CHABOT ROAD,CASTRO VALLEY,94546,General Acute Care,Basic,0,150-199,...,1.0,4924.0,4171.0,774.0,10114.0,NaN,24278.0,NaN,NaN,NaN
4,2005,106010844,Alameda,2001 DWIGHT WAY,BERKELEY,94704,General Acute Care,Unspecified,0,1-49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [313]:
#save updated dataset
df.to_csv(os.path.join(data_path,'Prepared', '1.data_mix_check.csv'), index = 0)

# 3. Dealing with Missing Values

In [314]:
#load previously save dataset. USe excel to change'nan' to blank

df_updated = pd.read_csv(os.path.join(data_path,'Prepared', '1.data_mix_check.csv'))
df_updated.tail()

,datayear,oshpd_id2,county_name,dba_address1,dba_city,dba_zip_code,license_category_desc,er_service_level_desc,teaching_hospital_desc,licensed_bed_size,...,sn_ic_care,medi_cal,medicare,other_payer,private_coverage,selfpay,ed_visit,all_other,english,spanish
5305,2020,106560525,Ventura,2975 Sycamore Dr,Simi Valley,93065,General Acute Care,Basic,NaN,100-149,...,61.0,8941.0,5341.0,641.0,8516.0,1584.0,25051.0,116.0,23065.0,1866.0
5306,2020,106560529,Ventura,1600 N Rose Ave,Oxnard,93030,General Acute Care,Basic,NaN,200-299,...,60.0,18418.0,6674.0,1863.0,5037.0,3299.0,35291.0,143.0,26822.0,8255.0
5307,2020,106571086,Yolo,1325 Cottonwood St,Woodland,95695,General Acute Care,Basic,NaN,100-149,...,57.0,8618.0,4075.0,447.0,4387.0,1397.0,18924.0,399.0,15962.0,2537.0
5308,2020,106574010,Yolo,2000 Sutter Pl,Davis,95616,General Acute Care,Basic,NaN,1-49,...,142.0,7814.0,4540.0,665.0,6935.0,1177.0,21131.0,609.0,18037.0,2443.0
5309,2020,106580996,Yuba,726 Fourth St,Marysville,95901,General Acute Care,Basic,NaN,200-299,...,107.0,27267.0,9844.0,2278.0,7931.0,5140.0,52468.0,1251.0,48607.0,2555.0

In [315]:
#For license category description, imputed missing value for one of the facilities in excel by searching for similar id. 
#Will delete the remaining two values in jupyter

In [316]:
dict(df_updated.isnull().sum())

{'datayear': 0,
 'oshpd_id2': 0,
 'county_name': 0,
 'dba_address1': 0,
 'dba_city': 0,
 'dba_zip_code': 0,
 'license_category_desc': 3,
 'er_service_level_desc': 0,
 'teaching_hospital_desc': 2086,
 'licensed_bed_size': 1,
 'mssa_designation': 2687,
 'sex_male': 107,
 'sex_female': 107,
 'sex_unk': 3218,
 'age_01_09': 115,
 'age_10_19': 107,
 'age_20_29': 119,
 'age_30_39': 126,
 'age_40_49': 130,
 'age_50_59': 128,
 'age_60_69': 131,
 'age_70_79': 138,
 'age_80_': 149,
 'age_under_1': 128,
 'age_unknown': 4558,
 'asian_pacific_island': 152,
 'black': 146,
 'hispanic': 114,
 'native_american_eski': 277,
 'other_race': 206,
 'unknown_race': 335,
 'white': 366,
 'acute_care': 159,
 'against_medical_advice': 303,
 'died': 213,
 'hospice_care': 1895,
 'home_health_service': 1424,
 'residential_care': 2118,
 'routine': 108,
 'psychiatric_care': 783,
 'sn_ic_care': 453,
 'medi_cal': 123,
 'medicare': 126,
 'other_payer': 127,
 'private_coverage': 128,
 'selfpay': 3081,
 'ed_visit': 107,
 'all_other': 1470,
 'english': 1445,
 'spanish': 1450}

In [317]:
# Dropping NA in categorical columns that are central to my curiostity

df_updated.dropna(axis = 0, how = 'any', subset = ['er_service_level_desc', 'license_category_desc',
                                                   'licensed_bed_size','sex_male'], inplace = True)

In [318]:
#remove missing values in license_category_desc column = 0
df_updated = df_updated[df_updated['licensed_bed_size'] != '0']

df_updated['licensed_bed_size'].value_counts(dropna = False)

300-499    1124
200-299    1021
100-149     960
1-49        697
50-99       590
150-199     583
500+        224
Name: licensed_bed_size, dtype: int64

In [322]:
#replace na values for teaching hospitals based on assumption, along with other numeric columns where the likely hood
# having a value of zero is high

df_updated[['teaching_hospital_desc','sex_unk','age_unknown']] = df_updated[['teaching_hospital_desc',
                                                                            'sex_unk','age_unknown']].fillna(0)
# df_updated['teaching_hospital_desc'].value_counts(dropna = False)

In [ ]:
#view updated dataset
df_updated.head()

In [323]:
dict(df_updated.isnull().sum())

{'datayear': 0,
 'oshpd_id2': 0,
 'county_name': 0,
 'dba_address1': 0,
 'dba_city': 0,
 'dba_zip_code': 0,
 'license_category_desc': 0,
 'er_service_level_desc': 0,
 'teaching_hospital_desc': 0,
 'licensed_bed_size': 0,
 'mssa_designation': 2633,
 'sex_male': 0,
 'sex_female': 0,
 'sex_unk': 0,
 'age_01_09': 8,
 'age_10_19': 0,
 'age_20_29': 12,
 'age_30_39': 19,
 'age_40_49': 23,
 'age_50_59': 21,
 'age_60_69': 24,
 'age_70_79': 31,
 'age_80_': 42,
 'age_under_1': 21,
 'age_unknown': 0,
 'asian_pacific_island': 45,
 'black': 39,
 'hispanic': 7,
 'native_american_eski': 170,
 'other_race': 99,
 'unknown_race': 228,
 'white': 259,
 'acute_care': 52,
 'against_medical_advice': 196,
 'died': 105,
 'hospice_care': 1785,
 'home_health_service': 1315,
 'residential_care': 2009,
 'routine': 1,
 'psychiatric_care': 676,
 'sn_ic_care': 345,
 'medi_cal': 16,
 'medicare': 19,
 'other_payer': 20,
 'private_coverage': 21,
 'selfpay': 2971,
 'ed_visit': 0,
 'all_other': 1361,
 'english': 1336,
 'spanish': 1341}

In [324]:
df_updated.to_csv(os.path.join(data_path,'Prepared', '2.miss_val_check.csv'), index = 0)